* {
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(orange, red);
  background-attachment: fixed;
  padding: 10px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  margin: auto;
  width: 70vw;
}

.list {
  overflow: scroll;
  height: max-content;
  width: 70vw;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px,1fr);
  grid-gap: 2em;
  padding-left: 0;
  list-style: none;
}

.list-item {
  
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 6px #00000050;
}


.list-item-link {
  display: block;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  height: 100%;
  color: black;
}

.list-item-link h2 {
  margin: 0;
}
